<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DIANA</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Roboto&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <header>
        <div class="headmain">
            <a asp-action="Index" class="logo"></a>
            <div class="cell m">
                <a asp-action="Index">Как работает</a>
                <a asp-action="Index">Контакты</a>
            </div>
            <div class="cell r">
                <a asp-action="Index">info@indexdent.ru</a>
                <a class="but" asp-action="Index"><p>Связаться с нами</p></a>
            </div>
        </div>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <div class="footmain">
            <div class="left">
                <p>© 2019 IT Компания IndexDent</p>
                <p>Новосибирск, Академгородок.</p>
                <p>info@indexdent.ru</p>
                <a asp-action="Index">Условия предоставления услуг</a>
            </div>
        </div>
    </footer>
    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)-->
</body>
</html>
