@model RequestModel
@{
    ViewData["Title"] = "Home Page";
}

    <section class="section-form">
        <div class="mainform">
            <h1>Помогаем сделать профилактику в стоматологии прибыльной</h1>
            <h2>Легко и наглядно в 3 простых шага</h2>
            <form asp-action="AddToQueue" class="input-group" method="post" enctype="multipart/form-data">
                <input asp-for="Email" type="email" placeholder="Введите email" value="" required />
                <label id="lab" for="files">
                    Выберите фотографии
                </label>
                <button type="submit">Получить индекс гигиены</button>
                <input id="files" asp-for="Files" type="file" onchange="countFiles()" accept=".jpg, .jpeg, .png" multiple required />
            </form>
        </div>
        <div class="right image">
        </div>
        <div class="widget">
            <h1><strong>DIANA</strong> – искусственный интеллект, который определяет индекс гигиены полости рта</h1>
        </div>
    </section>    




<!-- <div class="text-center">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
            }
            <form asp-action="AddToQueue" method="post" class="input-group" enctype="multipart/form-data">
                <input asp-for="Email" type="email" value="Введите email" required />
                <input asp-for="Files" type="file" multiple required />
                <input type="submit" />
            </form>
        </div>
-->